@font-face {
    font-family: 'iceSotong-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceSotong-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'iceSotong-Rg';

}

.table>.info-section{
    background-color:rgb(36,106,186);
    color:white;
    border-radius:5px;
}

.create>.create-btn{
    background-color:rgb(96,96,96);
}

